<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Должность</th>
                <th>Опыт работы</th>
                <th>Оценка в баллах</th>
                <th>Оценка ИИ</th>
            </tr>
        </thead>
        <tbody>
            {% for resume in resumes %}
            <tr>
                <td><a href="{% url 'resume_detail' resume.id %}">{{ resume.name }}</a></td>
                <td>{{ resume.desired_position }}</td>
                <td>{{ resume.experience }}</td>
                <td>{{ resume.score }}</td>
                <td>{{ resume.ai_evaluation }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>